/* Base reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography & layout */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #111111;
  line-height: 1.6;

  max-width: 800px;
  margin: 48px auto;
  padding: 0 24px;
  overflow-x: hidden; /*prevent horizontal scrolling */
}

/* Header */
header {
  margin-bottom: 48px;
}

header h1 {
  font-size: 2.2rem;
  margin-bottom: 8px;
}

header p {
  color: #555555;
}

/* Sections */
section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

/* Project entries */
article {
  margin-bottom: 20px;
}

article h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

/* Links */
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  margin-top: 64px;
  font-size: 0.9rem;
  color: #777777;
}

.profile-pic {
  width: 400px;     
  height: 400px;     
  min-width: 120px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}



.project-pic {
  width: 330px;     
  height: 330px;     
  min-width: 100px;
  border-radius: 0%;
  flex-shrink: 0;
  object-fit: cover;
}


.intro-header {
  display: flex;
  align-items: flex-start;       /* vertically centers text with image */
  gap: 24px;                 /* space between image and text */
  margin-bottom: 48px;

  flex-wrap: wrap;
  max-width: 100%; 
  width: 100%;
}

.intro-text {
  flex: 1;                   /* text takes remaining space */
  min-width: 300px;
}

.intro-text h1 {
  margin-top: 0;
  font-size: 2rem;
}

.intro-text p {
  color: #555555;
  line-height: 1.6;
}

/* @media (max-width: 600px) {
  body {
    margin: 24px 12px;
  }
  
  .profile-pic {
    width: 300px;
    height: 300px;
  }
  
  .intro-header {
    gap: 16px;
  }
} */